<br />
<h1><%= link_to("Visit Home",'/home/index') %></h1>

<h2 id = "department">Department Details</h2>

<table>
<thead>
  <tr>
    <th>Name</th>
    <th>Total Students</th>
    <th>Total Staffs</th>
    <th>Location </th>
    <th>Action</th>
  </tr>
</thead>
  <tbody>
  <% @departments.each do |department| %>
	 <tr>
	   <td><%= department.name %></td>
	   <td><%= department.students.size %></td>
	   <td><%= department.staffs.size %></td>
	   <td><%= department.location %></td>
	   <td><%= link_to "Delete","/delete_department/#{department.id}", method: :delete %><br /></td>
	 </tr>
	<% end %> 
  </tbody>
</table> 
