<br />
<div>
  <h1><%= link_to("Visit Home",'/home/index') %></h1>
  <h2 id = "department">Department Details</h2> 
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Students</th>
      <th>Total Staffs</th>
      <th>Location </th>
      <th>Action</th>
    </tr>
  </thead>
<tbody>
  <% @departments.each do |department| %>
    <tr>
      <td><%= department.name %></td>
      <td><%= department.students.size %></td>
      <td><%= department.staffs.size %></td>
      <td><%= department.location %></td>
      <td>
      <button class = "button2"><%= link_to "Show","/departments/#{department.id}" %>
      </button>
      <button class = "button3"><%= link_to "Edit","/departments/#{department.id}/edit" %>
      </button>
      <button class = "button1"><%= link_to "Delete","/delete_department/#{department.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
      </button>
      </td>
    </tr>
  <% end %> 
  <p><%= link_to "Create New Department", "/department/new" %></p>
</tbody>
</table> 
<%= will_paginate @departments %>
