<div>
  <% if @department.images.attached? %>
    <% @department.images.each do |attachment| %>
      <% if attachment.image? %>
        <%= image_tag attachment, width: "200px" %>
      <% elsif attachment.image? %>
        <audio controls>
          <source src = "<%= rails_blob_url(attachment)%>" type="<%= attachment.content_type %>"/>
        </audio>
      <% elsif attachment.video? %>
        <video width="320" height="240" controls>
            <source src="<%= rails_blob_url(attachment)%>" type="<%= attachment.content_type %>">
        </video>     
      <% end %>
    <% end %>  
  <% end %>
</div>

<ul class = "show">
  <li><strong>Name </strong><%= @department.name %></li>
  <li><strong>Total students </strong><%= @department.students.size =%></li>
  <li><strong>Total Staffs </strong><%= @department.staffs.size =%></li>
  <li><strong>Location </strong><%= @department.location %></li>
</ul><br>

<div>
  <%= link_to "Back", "/departments" %>
  <%= link_to "Edit", "/departments/#{@department.id}/edit" %>
</div>