<h1 class = "new">Edit student</h1>

<%= form_with model: @student, url: "/students/#{@student.id}" do |f| %>

  <p>
    <%= f.label :department_id %><br>
    <%= f.text_field :department_id %>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :admission%><br>
    <%= f.text_field :admission %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<p> <%= link_to "Back", "/students" %></p>
<p><%= link_to "Show", "/students/#{@student.id}" %></p>