<br />

<%= form_tag students_path, method: :get do%>
  <%= label_tag(:search, "search by student name:") %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>
<div class = "student-headings">
  <h1><%= link_to("Visit Home",'/home/index') %></h1>
  <h1>Student Details</h1> 
</div>

<table class = "student">
  <thead>
  <tr>
    <th>Name</th>
    <th>Department</th>
    <th>joined </th>
    <th>Semester</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
   <tr id = <%= student.id %>>
    <td><%= student.name %></td>
    <td><%= student.department.name =%></td>
    <td><%= student.admission %></td>
    <td><%= (2022 - student.admission)*2 %></td>
    <td><%= student.email %></td>
    <td>
      <button class = "button2"><%= link_to "Show","/students/#{student.id}" %></button>
      <button class = "button3"><%= link_to "Edit","/students/#{student.id}/edit" %></button>

      <button class = "button1"><%= link_to "Delete","/delete_student/#{student.id}", method: :delete, data: { confirm: 'Are you sure?' } %></button>
    </td>
    <td class = "destroy">Destroy</td>
   </tr>
  <% end %> 
  <p class = "new"><%= link_to "Create New Student", "/student/new" %></p>
  </tbody>
</table> 
<%= will_paginate @students %>
