<br />
<h1><%= link_to("Visit Home",'/home/index') %></h1>

<h2 id = "student">Student Details</h2>

<table>
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Department</th>
	  <th>joined </th>
	  <th>Semester</th>
	  <th>Action</th>
	</tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
	 <tr>
	  <td><%= student.name %></td>
	  <td><%= student.department.name =%></td>
	  <td><%= student.admission %></td>
	  <td><%= (2022 - student.admission)*2 %></td>
	  <td><%= link_to "Delete","/delete_student/#{student.id}", method: :delete %><br /></td>
	 </tr>
	<% end %> 
  </tbody>
</table> 
