<br />
<h1 style = "text-align:center"><%= link_to("Visit Home",'/home/index') %></h1>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<h2 style = "text-align:center">Student Details</h2>

<table style = "width: 100%">
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Department</th>
	  <th>joined </th>
	  <th>Semester</th>
	  <th>Action</th>
	</tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
	 <tr>
	  <td style = "text-align:center"><%= student.name %></td>
	  <td style = "text-align:center"><%= student.department.name =%></td>
	  <td style = "text-align:center"><%= student.admission %></td>
	  <td style = "text-align:center"><%= (2022 - student.admission)*2 %></td>
	  <td style = "text-align:center"><%= link_to "Delete","/delete_student/#{student.id}", method: :delete %><br /></td>
	 </tr>
	<% end %> 
  </tbody>
</table> 
