<br>
<% if @student.errors.any? %>
  <h2 class ="student" >These are the reasons for error</h2>
  <ul>
    <% @student.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %> 
  </ul> 
<% end %>

<%= form_with scope: :student, url: students_path, local: true do |f| %>
  <p>
    <%= f.label :Department_Name %><br>
    <%= f.select :department_id, @departments.collect{|d| [d.name,d.id]}%>
  </p>

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :admission%><br>
    <%= f.text_field :admission %>
  </p>
  <p>
    <%= f.label :email%><br>
    <%= f.text_field :email %>
  </p>
  <div class = "student_image">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <p>
    <%= f.submit %>
  </p>
  
<% end %>

<p> <%= link_to "Back", "/students" %></p>

