<h1 class = "new">Create new student</h1>

<%= form_with scope: :student, url: students_path, local: true do |f| %>
	<p>
		<%= f.label :department_id %><br>
		<%= f.text_field :department_id %>
	</p>

	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :admission%><br>
		<%= f.text_field :admission %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	
<% end %>

<p> <%= link_to "Back", "/students" %></p>

