<div class = "student_image">
  <% if @student.image.attached? %>
    <%= image_tag @student.image.variant(
      crop: [30,30,150,150]
      ) %>
    <%= image_tag @student.image.variant(
      format: :png,
      resize_and_pad: [200, 200]
      ) %>
  <% end %>      
</div>
<div class = "student_image">
  <img src="<%= @student.avatar.url(:thumb) %>"/> 
</div>
<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />

  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script> 
<div style = "width: 50px; height: 300px;">
  <% if @student.clip.attached? %>
    <video width="320" height="240" controls poster="<%= rails_blob_url(@student.thumbnail) %>" data-setup="{}">>
            <source src="<%= rails_blob_url(@student.clip)%>" type="<%= @student.clip.content_type %>">
    </video>
  <% end %> 
</div>
<ul class = "show">
<li><strong>Name </strong><%= @student.name %></li>
<li><strong>Department Name </strong><%= @student.department.name =%></li>
<li><strong>Admission Year </strong><%= @student.admission %></li>
<li><strong>Semester</strong><%= (2022 - @student.admission)*2 %></li>
<li><strong>Email </strong><%= @student.email %></li>
</ul><br>
<div>
 <%= link_to "Back", "/students" %>
 <%= link_to "Edit", "/students/#{@student.id}/edit" %>
</div>
