<ul class = "show">
<li><strong>Name </strong><%= @student.name %></li>
<li><strong>Department Name </strong><%= @student.department.name =%></li>
<li><strong>Admission Year </strong><%= @student.admission %></li>
<li><strong>Semester &nbsp;</strong><%= (2022 - @student.admission)*2 %></li>
</ul><br>

<div>
 <%= link_to "Back", "/students" %>
 <%= link_to "Edit", "/students/#{@student.id}/edit" %>
</div>