<br />
<h1><%= link_to("Visit Home",'/home/index') %></h1>

<h2 id = "staff">Staff Details</h2>

<table>
  <thead>
     <tr>
       <th>Name</th>
       <th>Salary</th>
       <th>Total Departments</th>
       <th>Address</th>
       <th>Action</th>
     </tr>
  </thead>
  <tbody>
  <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.name %></td>
        <td><%= staff.salary %></td>
        <td><%= staff.departments.size %></td>
        <td><%= staff.address %></td>
        <td> 
          <button class="button4"><%= link_to "Show","/staffs/#{staff.id}" %></button>
          <button class="button5"><%= link_to "Edit","/staffs/#{staff.id}/edit"%></button>
          <button class="button6"><%= link_to "Delete","/delete_staff/#{staff.id}", method: :delete, data: { confirm: 'Are you sure?' } %></button>
        </td>
      </tr>
  <% end %> 
  </tbody>
</table>

