<br />
<h1 style = "text-align:center"><%= link_to("Visit Home",'/home/index') %></h1>

<style>
table, th, td {
  border:1px solid black;
}
</style>

<h2 style = "text-align:center">Staff Details</h2>

<table style = "width:100%">
  <thead>
	<tr>
	  <th>Name</th>
	  <th>Salary</th>
	  <th>Total Departments</th>
	  <th>Address</th>
	  <th>Action</th>
	</tr>
  </thead>
  <tbody>
  <% @staffs.each do |staff| %>
	<tr>
	  <td style = "text-align:center"><%= staff.name %></td>
	  <td style = "text-align:center"><%= staff.salary %></td>
	  <td style = "text-align:center"><%= staff.departments.size %></td>
	  <td style = "text-align:center"><%= staff.address %></td>
	  <td style = "text-align:center"><%= link_to "Delete","/delete_staff/#{staff.id}", method: :delete %><br /></td>
	</tr>
	<% end %> 
  </tbody>
</table>

