<h2> Departments Available </h2>

<% @departments.each_with_index do |department,index| %>
	<h3><%= index + 1 %>
	&nbsp;<%= department.hodname %>&nbsp;
	<%= department.deptname %>&ensp;
	<%= department.location %>&emsp;
	<%= link_to "Delete", "/delete_department/#{department.id}", method: :delete %></h3><br/>
<% end %>	
