<!DOCTYPE html>
<html>
  <head>
    <title>CollegeManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class = "navbar">
    <ul>
      <li><a href = "#"><%= link_to("Visit Home",'/home/index') %></a></li>
      <li><a href = "#"><%= link_to("Staffs",'/staffs') %></a></li>
      <li><a href = "#"><%= link_to("Departments",'/departments') %></a></li>
      <li><a href = "#"><%= link_to("Students",'/students') %></a></li>
      <li><a href = "#"><%= link_to("About Us",'/aboutus') %></a></li>
    </ul><br><br><br></nav>
    <%= yield %>
  </body>
</html>
