<!DOCTYPE html>
<html>
  <head>
    <title>CollegeManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class = "navbar">
    <ul>
      <li><a href = "#"><%= link_to("Visit Home",'/home/index') %></a></li>
      <li><a href = "#"><%= link_to("Staffs",'/staffs') %></a></li>
      <li><a href = "#"><%= link_to("Departments",'/departments') %></a></li>
      <li><a href = "#"><%= link_to("Students",'/students') %></a></li>
      <li><a href = "#"><%= link_to("About Us",'/aboutus') %></a></li>
    </ul><br><br><br></nav>
    <%= yield %>
    <footer class = "footer">
    <div class = "footer-content">
      <div class = "container">
        <div class = "row">
          <div class = "column">
            <h4>Home</h4>
            <ul>
              <li><a href="#"></a></li>
            </ul>
          </div>
          <div class = "column">
            <h4>Staffs</h4>
            <ul>
              <li><a href="#">Staff Details</a></li>
              <li><a href="#">Create Staff</a></li>
            </ul>
          </div>
          <div class = "column">
            <h4>Departments</h4>
            <ul>
              <li><a href="#">Department Details</a></li>
              <li><a href="#">Create Department</a></li>
            </ul>
          </div>
          <div class = "column">
            <h4>Students</h4>
            <ul>
              <li><a href="#">Student Details</a></li>
              <li><a href="#">Create Student</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </body>
</html>
